body{
    margin: 2px;
    padding:8px;
    background-color: pink;
    font-family: 'Unica One', cursive;
    font-size: 20px;
    font-stretch: extra-expanded;

}

header img {
    float: right;
    width:15%;
}
h1,h2,p{
    color:white;
}
p{
    font-weight: bold;
}
#jeannie{
   
    width:100px;
    height:50px;
    position:absolute;
    
}

h4{

 display: inline;
 border: 3px solid lightblue;
 font-style: italic;
      
}
#success img{
    border-radius: 1%;
    width:15%;
    padding-left:10%;
    
}



#jeannie img{
   
    width:90%;
    position: absolute;
    border-radius:15%;
    padding-left: 50%;
  
}