body{
    margin: 2px;
    padding:8px;
    background-color: pink;
    font-family: 'Unica One', cursive;
    font-size: 20px;
    font-stretch: extra-expanded;

}

h1,h2,p{
    color:white;
}
p{
    font-weight: bold;
}
div{
   
    width:100px;
    height:50px;
    position:absolute;
    
}




img{
   
    width:90%;
    position: absolute;
    border-radius:15%;
    padding-left: 50%;
  
}